/* Base styles for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #d5d5d5;
    margin: 0;
    padding-inline: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Styling the header */
header {
    background-color: #eb9ee7;
    color: #d5d5d5;
    height: 2rem;
}
