:root {
    /* Define color variables */
    --primary-color: #fff672;
    --secondary-color: #d5d5d5;
    --accent-color: #eb9ee7;

    /* Define font variables */
    --primary-font: bebas neue, sans-serif;
}

/* Base styles for the page */
body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    background-image: url('/assets/images/cartographer.png'); /* Replace with your image path */
    background-size: 25%;
    background-position: center;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Styling the header */
header {
    padding: 1rem;
    color: var(--secondary-color);
    height: 1fr;
    background-color: var(--accent-color);
    border-radius: 5px;
}

section {
    margin-top: 4px;
    padding: 1rem;
    background-color: var(--accent-color);
    border-radius: 5px;
}

.container {

    display: grid;
    grid-template-areas:
        "header header"
        "menu content"
        "menu footer";
    grid-template-columns: 1fr 6fr;
    gap: 5px;
    padding-inline: 15rem;
}

.container > header {
    grid-area: header;
}

.container div.sidebar {
    grid-area: menu;
    boarder-radius: 5px;
    padding: 1rem;
}

.container div.content {
    grid-area: content;
    color: var(--secondary-color);
    border-radius: 5px;
}

.container div.footer {
    grid-area: footer;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border-radius: 5px;
    padding: 1rem;
}

.nav-style {
    width: 100%;
    list-style-type: none;
}

.nav-style li {
    width: fit-content;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: var(--primary-color);

    /* The Bevel Effect */
    box-shadow: 
    inset 4px 4px 0px rgba(255, 255, 255, 0.5),  /* Top & Left highlight */
    inset -4px -4px 0px rgba(0, 0, 0, 0.3),      /* Bottom & Right shadow */
    0px 5px 10px rgba(0, 0, 0, 0.2); 
}

.nav-style li a {
    color: black;
}