:root {
    /* Define color variables */
    --primary-color: #121212;
    --secondary-color: #d5d5d5;
    --accent-color: #eb9ee7;

    /* Define font variables */
    --primary-font: bebas neue, sans-serif;
}

/* Base styles for the page */
body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
    padding-inline: 15rem; /* Add padding to the left and right of the page */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Styling the header */
header {
    background-image: linear-gradient(45deg, var(--accent-color), var(--primary-color));
    padding: 1rem;
    color: var(--secondary-color);
    height: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

section {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border-radius: 5px;
    opacity: 0.5;
}

.sidebar {
    height: 100%;
    width: 5rem;
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 5px;
}